<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TCS.Properties.Settings.dtccConnectionString" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=dtcc" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <userSettings>
    <TCS.Properties.Settings>
      <setting name="mySkin" serializeAs="String">
        <value>iMaginary</value>
      </setting>
      <setting name="myLocation" serializeAs="String">
        <value>10, 10</value>
      </setting>
      <setting name="mySize" serializeAs="String">
        <value>1002, 729</value>
      </setting>
      <setting name="connectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="CenterNo" serializeAs="String">
        <value>03</value>
      </setting>
      <setting name="CenterCode" serializeAs="String">
        <value>CPI</value>
      </setting>
      <setting name="CenterName" serializeAs="String">
        <value>Champhai</value>
      </setting>
      <setting name="Contact" serializeAs="String">
        <value>8014999704</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>ntcpchamphai@gmail.com</value>
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="dbUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="dbName" serializeAs="String">
        <value>dtcc</value>
      </setting>
      <setting name="dbServer" serializeAs="String">
        <value>localhost</value>
      </setting>
    </TCS.Properties.Settings>
  </userSettings>
</configuration>